<!DOCTYPE html>
{% load static %}
<head>
<!--   <style>
    html {
      overflow-y: scroll;
    }
  </style> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-link" id="nav-front-page-logo" href="{% url 'home_get_started' %}">        
      <img src="{% static 'images/color_logo_transparent.png' %}" class="img-fluid" width="250" alt=" "></a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="nav-front-page" href="{% url 'user_profile' %}">Profile</a>
        </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Boomerang</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'create_boomerang' %}">Create Boomerang</a>
      <a class="dropdown-item" href="#">Browse Boomerangs</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-front-page" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  {% else %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-link" id="nav-front-page-logo" href="{% url 'home_get_started' %}">        
      <img src="{% static 'images/color_logo_transparent.png' %}" class="img-fluid" width="250" alt=" "></a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="nav-front-page" href="/post-an-opportunity/signup">Get started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-front-page" href="/freelance/signup">Boomerang</a>
        </li>
        <li class="nav-item">
          {% ifequal form_title "Sign up" %}
          <a class="nav-link" id="nav-front-page" href="{% url 'login' %}">Log in</a>
          {% endifequal %}
          {% ifequal form_title "Log in" %}
          <a class="nav-link" id="nav-front-page" href="{% url 'signup' %}">Sign up</a>
          {% endifequal %}
        </li>
      </ul>
    </div>
  </nav>  
</head>
<body>
{% endif %}
{% block content %}
{% endblock %}
</div>
</body>
<footer>
</footer>




