{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
  <div class="row justify-content-md-center" id="dashboard">
    <div class="col col-md-3" id="front-page">
    </div>
   	<div class='col-md-auto' id="front-page">
		<div class="d-flex justify-content-center">
   		</div>
        <form method="POST">
          {% csrf_token %}
          {% crispy form %}
        </form>
	</div>
    <div class="col col-md-3" id="front-page">
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

{% endblock %}


