{% extends 'home/profile_base.html' %}
{% load crispy_forms_tags %}
{% block create_boomerang %}

<div class="container-fluid">
  <div class="row justify-content-md-center" id="dashboard">
    <div class="col col-md-3" id="front-page">
    </div>
   	<div class='col-md-auto' id="front-page">
		<div class="d-flex justify-content-center">
   		</div>
        <form method="POST">
          {% csrf_token %}
          {% crispy form %}
        </form>
	</div>
    <div class="col col-md-3" id="front-page">
    </div>
  </div>
</div>

{% endblock %}


