{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <div class="row justify-content-md-center">

    <div class="col">
    </div>

   	<div class='col-4' id="front-page">
		   
      <div class="d-flex justify-content-center">
      </div>
		
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">{{ form_title }}</button>
        </form>
    
        {% ifequal form_title "Log in" %}
        <div class="mt-4">
          <p id="front-page"><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
        </div>

        {% endifequal %}
		    <div class="mt-4">
          <p id="front-page-error-message">{{ error_message }}</p>
   		     
        </div>
	   </div>
    
    <div class="col">
    </div>
  
  </div>
</div>
{% endblock %}


