
:root {
$brandcolor1: white; 
$brandcolor2: gray;
$brandcolor3: black;
$button-no-hover:;
$button-hover:;
}

body, html {
	height: 100%;
}

.img-thumbnail {
	border: 0px;
}

.asteriskField {
    display: none;
}



/*Controls Background Images*/
/*div#login-b-img.bg-img {
    background-image: url("../images/login_background.jpg");*/
}
div#signup-b-img.bg-img {
    background-image: url("../images/signup_background.jpg");
}

/*Background Image Styling*/
.bg-img { 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
	height: 100%;
}

div#dashboard.row.justify-content-md-center {
	margin-top: 10px;
	position: none	;
	top: none;
	transform: none;
}

.row {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-align: center;
}

div#front-page {
/*	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
    border-radius: 25px;*/
}

p#front-page {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	text-align: center;
}

p#front-page-error-message {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
}

h1#front-page {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: center;
}

h3#front-page-password-reset {
	color: black;
	font-family: 'Montserrat', sans-serif;
	/*font-size: 15px;*/
	text-align: center;
}

label.requiredField {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: black;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: center;
}

/*links*/

a#nav-front-page {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: gray;
}

a#nav-front-page-logo {
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #3db3d4;
}

a:hover#nav-front-page-logo {
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

a:hover#nav-front-page {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

/*buttons*/

.btn-primary {
	background-color: #3db3d4;
	border-color: #3db3d4;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
}

.btn-primary:hover {
	background-color: #37A1BF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
}

#message-box {
    margin: 30px;
    padding: 25px;
    border-radius: 25px;
    background-color: #ffffff;
}

/*signup form*/

legend {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: black;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: left;
}

div#div_id_first_name {
	margin-right: 10px;
}

div#div_id_last_name {
}

div#div_id_birth_date {
	width: 100%;
}

div#div_id_birth_date div.controls {
	width: 100%;
}

div#div_id_birth_date div.controls input#id_birth_date.dateinput.form-control {
	width: 100%;
}

div#div_id_phone_number {
	width: 100%;
}

div#div_id_phone_number div.controls {
	width: 100%;
}

div#div_id_phone_number div.controls input#id_phone_number.textinput.textInput.form-control {
	width: 100%;
}

div#div_id_city {
	width: 100%;
}

div#div_id_city div.controls {
	width: 100%;
}

div#div_id_city div.controls input#id_city.textinput.textInput.form-control {
	width: 100%;
}

div#div_id_state.form-group {
	width: 18%;
	margin-right: 2%;
}

div#div_id_zip_code.form-group {
	width: 80%;
}

div#div_id_zip_code div.controls {
	width: 100%;
}

div#div_id_zip_code div.controls input#id_zip_code.textinput.textInput.form-control {
	width: 100%;
}

div.form-inline {
	margin-bottom: 16px;
}