
:root {
$brandcolor1: white; 
$brandcolor2: gray;
$brandcolor3: black;
$button-no-hover:;
$button-hover:;
}

body, html {
	height: 100%;
}

.img-thumbnail {
	border: 0px;
}

.asteriskField {
    display: none;
}

.row {
	padding-top: 15px;
}

/*Background Image Styling*/
.home-bg-img {
	background-image: url("../images/get_started_background_image1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
	height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #3db3d4;
	text-align: center;
}

div#front-page {
/*	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
    border-radius: 25px;*/
}

p#front-page {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	text-align: center;
}

p#front-page-white {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	text-align: center;
}

p#front-page-error-message {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
}

h1#front-page {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: center;
}

h1#front-page-white {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: center;
}

h1#front-page-white-jumbo {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: center;
}

h3#front-page-password-reset {
	color: black;
	font-family: 'Montserrat', sans-serif;
	/*font-size: 15px;*/
	text-align: center;
}

h4 {
	color: #3db3d4;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	text-align: center;
}

label.requiredField {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: black;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: center;
}

/*links*/

a#nav-front-page, a.nav-link.dropdown-toggle {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: gray;
}

a#nav-front-page-logo, {
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #3db3d4;
}

a:hover#nav-front-page-logo {
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

a:hover#nav-front-page, a:hover.nav-link.dropdown-toggle {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

/*buttons*/

.btn-primary {
	background-color: #3db3d4;
	border-color: #3db3d4;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
}

.btn-primary:hover {
	background-color: #37A1BF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
}

#message-box {
    margin: 30px;
    padding: 25px;
    border-radius: 25px;
    background-color: #ffffff;
}

/*signup form*/

legend {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: black;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: left;
}

/* user profile form configuration */

div#div_id_first_name {
	margin-right: 10px;
}

div#div_id_last_name {
}

div#div_id_birth_date {
	width: 100%;
}

div#div_id_birth_date div.controls {
	width: 100%;
}

div#div_id_birth_date div.controls input#id_birth_date.dateinput.form-control {
	width: 100%;
}

div#div_id_phone_number {
	width: 100%;
}

div#div_id_phone_number div.controls {
	width: 100%;
}

div#div_id_phone_number div.controls input#id_phone_number.textinput.textInput.form-control {
	width: 100%;
}

div#div_id_city {
	width: 100%;
}

div#div_id_city div.controls {
	width: 100%;
}

div#div_id_city div.controls input#id_city.textinput.textInput.form-control {
	width: 100%;
}

div#div_id_state.form-group {
	width: 18%;
	margin-right: 2%;
}

input#id_state.select.form-control {
	width: 100%;
	margin-right: 2%;
}

div#div_id_zip_code.form-group {
	width: 80%;
}

div#div_id_zip_code div.controls {
	width: 100%;
}

div#div_id_zip_code div.controls input#id_zip_code.textinput.textInput.form-control {
	width: 100%;
}

div.form-inline {
	margin-bottom: 16px;
}

/* Create Boomerang configuration */

div#div_id_post_name {
	width: 100%;
}

div#div_id_post_name div.controls {
	width: 100%;
}

div#div_id_post_name div.controls input#id_post_name.textinput.textInput.form-control {
	width: 100%;
}

div#div_id_post_start_date {
	width: 49%;
	margin-right: 2%;
}

div#div_id_post_start_date div.controls {
	width: 98%;
}

div#div_id_post_start_date div.controls input#id_start_date.dateinput.form-group {
	width: 100%;
}

div#div_id_post_end_date {
	width: 49%;
}

div#div_id_post_end_date div.controls {
	width: 100%;
}

div#div_id_post_end_date div.controls input#id_post_end_date.dateinput.form-group {
	width: 100%;
}

div#div_id_post_details {
	width: 100%;
}

div#div_id_post_details div.controls {
	width: 100%;
}

div#div_id_post_details div.controls textarea#id_post_details.textarea.form-control {
	width: 100%;
}

div#div_id_street.form-group {
	width: 49%;
	margin-right: 2%;
}

div#div_id_street div.controls {
	width: 100%;
}

div#div_id_street div.controls input#id_street.post_details.textinput.textInput.form-control {
	width: 100%;
}

div#div_id_city.form-group {
	width: 49%;
}

div#div_id_city div.controls {
	width: 100%;
}

div#div_id_city div.controls input#id_city.post_details.textinput.textInput.form-control {
	width: 100%;
}