
:root {
$brandcolor1: white; 
$brandcolor2: gray;
$brandcolor3: black;
$button-no-hover:;
$button-hover:;
}

body, html {
	height: 100%;
}

.img-thumbnail {
	border: 0px;
}

.asteriskField {
    display: none;
}

/*Controls Background Images*/
/*div#login-b-img.bg-img {
    background-image: url("../images/login_background.jpg");*/
}
div#signup-b-img.bg-img {
    background-image: url("../images/signup_background.jpg");
}

/*Background Image Styling*/
.bg-img { 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
	height: 100%;
}

.row {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-align: center;
}

div#front-page {
/*	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
    border-radius: 25px;*/
}

p#front-page {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	text-align: center;
}

p#front-page-error-message {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
}

h1#front-page {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: center;
}

h3#front-page-password-reset {
	color: black;
	font-family: 'Montserrat', sans-serif;
	/*font-size: 15px;*/
	text-align: center;
}

label.requiredField {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: black;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	text-align: center;
}

a#nav-front-page {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: gray;
}

a#nav-front-page-logo {
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #3db3d4;
}

a:hover#nav-front-page-logo {
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

a:hover#nav-front-page {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

.btn-primary {
	background-color: #3db3d4;
	border-color: #3db3d4;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
}

.btn-primary:hover {
	background-color: #37A1BF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
/*	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
}

#message-box {
    margin: 30px;
    padding: 25px;
    border-radius: 25px;
    background-color: #ffffff;
}



